'.source.js':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '^\\s*\\}|^\\s*\\]|^\\s*\\)'
    'increaseIndentPattern': '(?x)
        \\{ [^}"\']* $
      | \\( [^)"\']* $
      | case[\\s\\S]*: $
      | default: $
      | ^ \\s* if \\s* \\( (?!.*?\\belse\\b)
      | ^ \\s* \\}? \\s* else \\s*
      | ^ \\s* (for|while) \\s* \\(
      | ^ \\s* do \\s* $
      '
    'decreaseIndentPattern': '(?x)
        ^(.*\\*/)?\\s*(\\}|\\))
      '
