'scopeName': 'source.js.embedded.html'
'name': 'Embedded JavaScript'
'injectionSelector': 'L:source.js.embedded.html, L:source.js.embedded.xml'
'patterns': [
  {
    # Break out as soon as a </script> tag is encountered,
    # even if it's in a string or comment
    'match': '(?=</(?i:script)\\s*>)'
  }
]
