'fileTypes': []
'hideFromUser': true
'name': 'Regular Expression Replacement (JavaScript)'
'patterns': [
  {
    'include': '#regexp-replacement'
  }
]
'repository':
  'regexp-replacement':
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.backslash.regexp'
      }
    ]
'scopeName': 'source.js.regexp.replacement'
