name: 'JSDoc'
scopeName: 'source.jsdoc'
type: 'tree-sitter'
parser: 'tree-sitter-jsdoc'

injectionRegex: '^jsdoc$'

scopes:
  'tag_name': 'comment.part.caption'
  'path_expression > identifier': 'comment.part.path'
  'identifier': 'comment.part.term.variable'
  'type': 'comment.part.term.type'

  '".", ":", "/", "#", "~"': 'punctuation.delimiter.comment.part'
  '"{", "}"': 'punctuation.delimiter.comment.part.term.type'
  'inline_tag > "{", inline_tag > "}"': 'punctuation.delimiter.comment.part.caption'
