'.source.js':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '^\\s*\\}|^\\s*\\]|^\\s*\\)'
    decreaseThisIndentPattern: "^\\s*[\\}\\]\\)]"
    decreaseIndentPattern: "[\\}\\]\\)]"
    increaseIndentPattern: "[\\{\\[\\(]"
